In [41]:
from sklearn import tree
import pandas as pd
import numpy as nm
from sklearn.model_selection import train_test_split

In [42]:
data = pd.read_csv("https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv")

In [43]:
data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [44]:
data.columns

Index(['Длина', 'Высота', 'Шерстист', 'Гавкает', 'Лазает по деревьям', 'Вид'], dtype='object')

In [45]:
X = data.drop(['Вид'], axis=1)

y = data['Вид']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [47]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [48]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [49]:
clf.score(X_train, y_train)

1.0

In [51]:
data_json = pd.read_json(r'/content/dataset_209691_15 (2).txt')

In [52]:
data_json[:2]

data[:2]

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка

In [56]:
result = clf.predict(X_test)

pd.Series(result)[result == 'собачка'].count()

165

In [57]:
clf.predict(data_json).tolist().count('собачка')

54